#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
ion-card{
  width: 50%;
  margin: auto;
}
ion-card-header{
  font-size: 2rem;
  font-weight: 700;
}
ion-card-title{
  font-size: 1.5rem;
  font-weight: 500;
}
ion-card-subtitle{
  font-size: 1.5rem;
  font-weight: 500;
}
ion-button{
  font-size: 1.5rem;
  font-weight: 500;
  margin: 30px;
}
